<phpunit bootstrap="./bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false">
    <testsuites>
        <testsuite>
            <directory>./Aura/Http</directory>
        </testsuite>
    </testsuites>
</phpunit>
